GEMINI_API_KEY=your-gemini-api-key
MONGODB_ATLAS_URI=your-mongodb-atlas-uri
MONGODB_DB=langchain_db
MONGODB_COLLECTION=documents

# Pinecone
PINECONE_API_KEY=your-pinecone-api-key
PINECONE_INDEX_NAME=pklawdocuments
PINECONE_ENVIRONMENT=us-east1-gcp
